.App {
  /* background-color: black; */
  text-align: center;
  background-color: #f0f0f0;
}

html{
  background-color: #000000;
}

h1{
  color: rgb(9, 0, 0);
  }

  ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

li{
  width: 25%;
}
img {
  width: 300px;
  padding-bottom: 7%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
}